doctype html
html
	head
		link(rel="stylesheet", href="/style/book.css")
	body
		.header
		.book-list-page
			.author
			.bookList
			.simple-cart
		.cart-page.hide
		.order-page.hide


		script(src="/dist/js/lib.min.js")
		script(src="/dist/js/component.js")
		script(src="/dist/js/book.js")
