doctype html
html
	head
		link(rel="stylesheet", href="/style/book.css")
	body
		.header
		.book-list-page
			.author
			.bookList
			.simple-cart
		.cart-page.hide
		.order-page.hide


		script(src="/js/des/underscore-min.js")
		script(src="/js/des/zepto.min.js")
		script(src="/js/des/director.js")
		script(src="/js/book/component.js")
		script(src="/js/book/book.js")