doctype html
html
	head
		script(src="js/des/underscore-min.js")
		script(src="js/des/backbone-min.js")
		script(src="js/des/backbone.localStorage-min.js")
		script(src="js/des/zepto.min.js")
		script(src="js/book/app-view.js")
		script(src="js/book/collection.js")
		script(src="js/book/model.js")
		script(src="js/book/router.js")
		script(src="js/book/book.js")
	body
		.bookList