html
	head
		meta(chaset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title 求签
		link(rel='stylesheet', href='style/1.css')
		script(src='js/zepto.js')
		script(src='js/luck.js')
	body
		p hah